# CSC271H1: Data Manipulation using Pandas

## In this lesson
1. Series String Methods and Normalizing strings
2. Descriptive Statistics and Groupby
3. Sorting DataFrames

### Introduction

In this lesson, we'll continue to work with our pet data, but we'll work with the cleaned version of it:

| Owner            | Pet      | Species | Last Visit Date | Visit Count | Type           | Insurance     | Estimated Cost | Appointment Date | Appointment Time |
|------------------|----------|---------|-----------------|-------------|----------------|---------------|----------------|------------------|------------------|
| Aisha Khan       | Bella    | Dog     | 2025-01-15      | 3           | Annual checkup | HealthyPaws  | 120.75         | 2026-02-01       | 09:30:00         |
| Miguel Torres    | WHiskers | Cat     | 2022-12-10      | 2           | Vaccination    |               | 80.0           | 2026-02-03       | 14:00:00         |
| Kwame Mensah     | Rex      | Dog     | 2025-02-20      | 4           | Checkup        |               | 0.0            | 2026-02-03       | 16:45:00         |
| Sofia Gonzalez   | MITTENS  | Cat     | 2024-03-12      | 2           | Nail trim      | PetShield    | 15.5           | 2026-02-03       | 10:00:00         |
| Hiro Tanaka      | Bella    | Dog     | 2023-04-05      | 3           | Checkup        |               | 120.75         | 2026-01-30       | 13:30:00         |
| Fatima Al-Sayed  | Fluffy   | Rabbit  | 2025-01-25      | 2           | Vaccination    | PetCarePlus  | 90.0           | 2026-01-30       | 09:45:00         |
| Jamal Johnson    | shadow   | Cat     |                 |             | Checkup        |               | 81.0           | 2026-02-01       | 15:00:00         |
| Leila Hassan     | Goldy    | Dog     | 2026-01-05      | 2           | Checkup        |               | 81.0           | 2026-02-01       | 11:30:00         |



It is also available in the posted pets_clean.csv file.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('pets_clean.csv')
df.head()

,Owner,Pet,Species,Last Visit Date,Visit Count,Type,Insurance,Estimated Cost,Appointment Date,Appointment Time
0,Aisha Khan,Bella,Dog,2025-01-15,3.0,Annual checkup,HealthyPaws,120.75,2026-02-01,09:30:00
1,Miguel Torres,WHiskers,Cat,2022-12-10,2.0,Vaccination,NaN,80.00,2026-02-03,14:00:00
2,Kwame Mensah,Rex,Dog,2025-02-20,4.0,Checkup,NaN,0.00,2026-02-03,16:45:00
3,Sofia Gonzalez,MITTENS,Cat,2024-03-12,2.0,Nail trim,PetShield,15.50,2026-02-03,10:00:00
4,Hiro Tanaka,Bella,Dog,2023-04-05,3.0,Checkup,NaN,120.75,2026-01-30,13:30:00

<a id="normalizing-strings"></a>
### Normalizing Strings and Applying String Methods to `Series`

Normalizing strings involves updating strings so that they use a consistent format. This can involve standardizing the use of letter case, whitespace, and accents.

In our pets data, values in the Pet column use a variety of letter cases (e.g., `'Bella'`, `'WHiskers'`, `'MITTENS'` and `'shadow'`). Let's update them so they are all formatted as titles (words beginning with an uppercase letter and the rest of the letters are lowercase). 

You may recall the `str` method `title`:

In [3]:
help(str.title)
print('SIR purrington'.title())

Help on method_descriptor:

title(self, /) unbound builtins.str method
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

Sir Purrington

We can apply `title` elementwise to every string in the `Pets` column by calling on special `Series.str` methods modelled after Python's `str` methods.

The table below contains some of the many string functions that we can use.

<div class="alert alert-block alert-info">

Vectorized `Series.str` methods (`Series.str._______`)

| Method | Description |
|--------|------------|
| `lower()` | Return a Series with all characters in each string converted to lowercase. |
| `upper()` | Return a Series with all characters in each string converted to uppercase. |
| `title()` | Return a Series where for each string the first character of each word is uppercase and all other characters in the word are lowercase. |
| `strip()` | Return a Series with leading and trailing whitespace removed from each string. |
| `replace(old, new)` | Return a Series with all occurrences of `old` replaced by `new` in each string. |
| `contains(sub)` | Return a Series of bools indicating whether each string contains the substring `sub`. |
| `startswith(sub)` | Return a Series of bools indicating whether each string starts with the substring `sub`. |
| `endswith(sub)` | Return a Series of bools indicating whether each string ends with the substring `sub`. |
| `split(sep)` | Return a Series where each string is split into a list using the separator `sep`. |
| `len()` | Return a Series containing the length of each string. |

Many of these have optional parameters. For a complete list of functions and their parameters, look at the `pandas.Series.str` entries in the [Series documentation](https://pandas.pydata.org/docs/reference/series.html).
</div>

For most of the methods above, the value returned is a single Series of either of strings or Booleans.  

<div class="alert alert-block alert-success">
<h3>Exercise</h3>

Produce a Series of bools where each element is True if and only if the value in the Type column of <code>df</code>contains the substring <code>'check'</code>. Your code should be case insensitive (e.g., <code>'C'</code> and <code>'c'</code> should be considered equivalent.
</div>

In [ ]:
# TODO

Now let's consider the `Series.str.split` method. Recall how Python's `str.split` method works:

In [ ]:
print('Sir Purrington'.split())

Let's look at the help for the `Series.str.strip` method:

In [ ]:
help(pd.Series.str.split)

In [218]:
# Calling on it produces a Series of list[str].

We'd like two Series: one with first names and one with last names.

To achieve this, we need to set the `expand` parameter to `True`. The `Series.str.split` method then produces a DataFrame with two columns

### 2. Group by

https://discovery.cs.illinois.edu/guides/Modifying-DataFrames/dataframe-groupby/

We've seen how to use Pandas functions and methods to get descriptive statistics about our data. For example:

In [4]:
print(f'Mean:   {df['Estimated Cost'].mean()}')
print(f'Max:    {df['Estimated Cost'].max()}')
print(f'Count:  {df['Insurance'].count()}')

Mean:   73.625
Max:    120.75
Count:  3

<div class="alert alert-block alert-info">
Some Pandas Methods for Descriptive Statistics

| Method | Description |
|--------|------------|
| `count()` | Return the number of non-null values in the column. |
| `sum()` | Return the sum of all values in the column. |
| `mean()` | Return the arithmetic mean of the values. |
| `median()` | Return the median value of the column. |
| `mode()` | Return a Series of the most frequently occurring value(s). |
| `min()` | Return the minimum value in the column. |
| `max()` | Return the maximum value in the column. |
| `std()` | Return the standard deviation of the values. |
| `var()` | Return the variance of the values. |
| `nunique()` | Return the number of unique values in the column. |
| `value_counts()` | Return a Series containing counts of each unique value. |
</div>

We can calculate the mean estimated cost for all appointments:

In [5]:
print(df['Estimated Cost'].mean())

73.625

Let's calculate the mean estimated cost by appointment type.  That is, the mean estimated cost of Checkups, vaccinations, etc.

To do this, we need to group the data by Type and then we need to calculate the mean of each group. The row colors represented the groups by Type:

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; width: 100%; text-align: left;">
  <thead>
    <tr style="background-color: #ddd;">
      <th>Pet</th>
      <th>Species</th>
      <th>Last Visit Date</th>
      <th>Visit Count</th>
      <th>Type</th>
      <th>Insurance</th>
      <th>Estimated Cost</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color: #fc8d62;"> <!-- Annual checkup -->
      <td>Bella</td>
      <td>Dog</td>
      <td>2025-01-15</td>
      <td>3</td>
      <td>Annual checkup</td>
      <td>HealthyPaws</td>
      <td>120.75</td>
      <td>2026-02-01</td>
      <td>09:30:00</td>
      <td>Aisha</td>
      <td>Khan</td>
    </tr>
    <tr style="background-color: #8da0cb;"> <!-- Vaccination -->
      <td>Whiskers</td>
      <td>Cat</td>
      <td>2022-12-10</td>
      <td>2</td>
      <td>Vaccination</td>
      <td></td>
      <td>80.0</td>
      <td>2026-02-03</td>
      <td>14:00:00</td>
      <td>Miguel</td>
      <td>Torres</td>
    </tr>
    <tr style="background-color: #66c2a5;"> <!-- Checkup -->
      <td>Rex</td>
      <td>Dog</td>
      <td>2025-02-20</td>
      <td>4</td>
      <td>Checkup</td>
      <td></td>
      <td>0.0</td>
      <td>2026-02-03</td>
      <td>16:45:00</td>
      <td>Kwame</td>
      <td>Mensah</td>
    </tr>
    <tr style="background-color: #ffd92f;"> <!-- Nail trim -->
      <td>Mittens</td>
      <td>Cat</td>
      <td>2024-03-12</td>
      <td>2</td>
      <td>Nail trim</td>
      <td>PetShield</td>
      <td>15.5</td>
      <td>2026-02-03</td>
      <td>10:00:00</td>
      <td>Sofia</td>
      <td>Gonzalez</td>
    </tr>
    <tr style="background-color: #66c2a5;"> <!-- Checkup -->
      <td>Bella</td>
      <td>Dog</td>
      <td>2023-04-05</td>
      <td>3</td>
      <td>Checkup</td>
      <td></td>
      <td>120.75</td>
      <td>2026-01-30</td>
      <td>13:30:00</td>
      <td>Hiro</td>
      <td>Tanaka</td>
    </tr>
    <tr style="background-color: #8da0cb;"> <!-- Vaccination -->
      <td>Fluffy</td>
      <td>Rabbit</td>
      <td>2025-01-25</td>
      <td>2</td>
      <td>Vaccination</td>
      <td>PetCarePlus</td>
      <td>90.0</td>
      <td>2026-01-30</td>
      <td>09:45:00</td>
      <td>Fatima</td>
      <td>Al-Sayed</td>
    </tr>
    <tr style="background-color: #66c2a5;"> <!-- Checkup -->
      <td>Shadow</td>
      <td>Cat</td>
      <td></td>
      <td></td>
      <td>Checkup</td>
      <td></td>
      <td>81.0</td>
      <td>2026-02-01</td>
      <td>15:00:00</td>
      <td>Jamal</td>
      <td>Johnson</td>
    </tr>
    <tr style="background-color: #66c2a5;"> <!-- Checkup -->
      <td>Goldy</td>
      <td>Dog</td>
      <td>2026-01-05</td>
      <td>2</td>
      <td>Checkup</td>
      <td></td>
      <td>81.0</td>
      <td>2026-02-01</td>
      <td>11:30:00</td>
      <td>Leila</td>
      <td>Hassan</td>
    </tr>
  </tbody>
</table>

We can also group by multiple columns. 

`df.groupby([col1, col2, ...])`
- group by `col1` first, 
- within each `col1` group, group by `col2`, etc.


We'll group by Visit Count and then by Species:

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; width: 100%; text-align: left;">
  <thead>
    <tr style="background-color: #ddd;">
      <th>Pet</th>
      <th>Species</th>
      <th>Last Visit Date</th>
      <th>Visit Count</th>
      <th>Type</th>
      <th>Insurance</th>
      <th>Estimated Cost</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    <!-- Visit Count = 2 -->
    <tr>
      <td>Whiskers</td>
      <td style="background-color: #8da0cb;">Cat</td>
      <td>2022-12-10</td>
      <td style="background-color: #fc8d62;">2</td>
      <td>Vaccination</td>
      <td></td>
      <td>80.0</td>
      <td>2026-02-03</td>
      <td>14:00:00</td>
      <td>Miguel</td>
      <td>Torres</td>
    </tr>
    <tr>
      <td>Mittens</td>
      <td style="background-color: #8da0cb;">Cat</td>
      <td>2024-03-12</td>
      <td style="background-color: #fc8d62;">2</td>
      <td>Nail trim</td>
      <td>PetShield</td>
      <td>15.5</td>
      <td>2026-02-03</td>
      <td>10:00:00</td>
      <td>Sofia</td>
      <td>Gonzalez</td>
    </tr>
    <tr>
      <td>Goldy</td>
      <td style="background-color: #66c2a5;">Dog</td>
      <td>2026-01-05</td>
      <td style="background-color: #fc8d62;">2</td>
      <td>Checkup</td>
      <td></td>
      <td>81.0</td>
      <td>2026-02-01</td>
      <td>11:30:00</td>
      <td>Leila</td>
      <td>Hassan</td>
    </tr>
    <tr>
      <td>Fluffy</td>
      <td style="background-color: #e78ac3;">Rabbit</td>
      <td>2025-01-25</td>
      <td style="background-color: #fc8d62;">2</td>
      <td>Vaccination</td>
      <td>PetCarePlus</td>
      <td>90.0</td>
      <td>2026-01-30</td>
      <td>09:45:00</td>
      <td>Fatima</td>
      <td>Al-Sayed</td>
    </tr>
    <!-- Visit Count = 3 -->
    <tr>
      <td>Bella</td>
      <td style="background-color: #66c2a5;">Dog</td>
      <td>2025-01-15</td>
      <td style="background-color: #ffd92f;">3</td>
      <td>Annual checkup</td>
      <td>HealthyPaws</td>
      <td>120.75</td>
      <td>2026-02-01</td>
      <td>09:30:00</td>
      <td>Aisha</td>
      <td>Khan</td>
    </tr>
    <tr>
      <td>Bella</td>
      <td style="background-color: #66c2a5;">Dog</td>
      <td>2023-04-05</td>
      <td style="background-color: #ffd92f;">3</td>
      <td>Checkup</td>
      <td></td>
      <td>120.75</td>
      <td>2026-01-30</td>
      <td>13:30:00</td>
      <td>Hiro</td>
      <td>Tanaka</td>
    </tr>
    <!-- Visit Count = 4 -->
    <tr>
      <td>Rex</td>
      <td style="background-color: #66c2a5;">Dog</td>
      <td>2025-02-20</td>
      <td style="background-color: #ffb347;">4</td>
      <td>Checkup</td>
      <td></td>
      <td>0.0</td>
      <td>2026-02-03</td>
      <td>16:45:00</td>
      <td>Kwame</td>
      <td>Mensah</td>
    </tr>
    <!-- Visit Count = NaN -->
    <tr>
      <td>Shadow</td>
      <td style="background-color: #8da0cb;">Cat</td>
      <td></td>
      <td style="background-color: #d9d9d9;">NaN</td>
      <td>Checkup</td>
      <td></td>
      <td>81.0</td>
      <td>2026-02-01</td>
      <td>15:00:00</td>
      <td>Jamal</td>
      <td>Johnson</td>
    </tr>
  </tbody>
</table>

In [6]:
df.groupby(['Visit Count', 'Species'])['Estimated Cost'].mean()

Visit Count  Species
2.0          Cat         47.75
             Dog         81.00
             Rabbit      90.00
3.0          Dog        120.75
4.0          Dog          0.00
Name: Estimated Cost, dtype: float64

### Revisiting Filling Missing Data

We previously filled missing cost data using the mean of the Estimated Costs column. Now, we're going to fill missing costs based on the mean of estimated costs grouped by appointment type. Consider this example dataframe:

In [ ]:
cost_df = pd.DataFrame({
    'Type': ['Checkup', 'Vaccination', 'Checkup', 'Vaccination', 'Vaccination', 'Checkup', ],
    'Estimated Cost': [100, 80, np.nan, 60, np.nan, 200]
})

cost_df.head(6)

          Type  Estimated Cost
0      Checkup           100.0
1  Vaccination            80.0
2      Checkup             NaN
3  Vaccination            60.0
4  Vaccination             NaN
5      Checkup           200.0

We start by grouping the rows by appointment type. Next, we apply the `transform` method, which creates a Series that is the same length as the original, but with the mean of each estimated cost by type (150 for Checkups and 70 for Vaccinations):

We'll use this Series to fill in the missing data:



<a id="sorting"></a>
### 3. Sorting dataframes

It can be helpful to sort data to enhance readibility, to find extremes (highest/lowest values), to group related categories of data, and to prepare for analysis and visualizations.

#### Preparing data for sorting

- **Handle missing values**: Before sorting data, it is important to handle missing values. If you plan to fill them, do so before sorting. If the data contains values like empty strings or -1 that are meant to signal that data is missing, consider converting those values to `NaN`, so that they are sorted to the end.

- **Use appropriate data types**: It is also important to *use appropriate data types*. 
For example, before sorting numeric data, we should ensure that it has a numeric type. If we treat numeric data as type `object`, then the sorting may not work as expected. For example, the string `'10'` would come earlier than `'9'` (try `'10' < '9'` in the Python shell). If we instead want to treat these values as numeric, convert them to a numeric type before sorting. Similarly, to compare dates and times, we should use the `datetime` type.


#### Sort by values

The first way to sort is by column values.

In [ ]:
cost_df.sort_values('Estimated Cost')

Let's then get the two least expensive estimates:

In [ ]:
cheapest_df = cost_df.sort_values('Estimated Cost').head(2)
cheapest_df.head()

We can also sort in non-ascending order:

In [ ]:
cost_df.sort_values('Estimated Cost', ascending=False)

We can also sort by multiple columns:

`df.sort_values([col1, col2, ...])`
- sort by `col1` first, 
- within each sorted `col1` group, sort by `col2`, etc.

For example, we can sort our pet data by Species and then by Name.

In [ ]:
df.sort_values(['Species', 'Pet'])

#### Sort by index

Another way to sort is by index. This approach is used to order rows or columns by their index or column labels. 

For example, we can use this approach to set the data back to the order in which it was loaded or to order the data by column names.

In [ ]:
# Sort by row indexes (deafult of axis=0)
df.sort_index()

In [ ]:
# Sort by column labels
df.sort_index(axis=1)